@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.forgot{

  color: #b3b3b3;
  font-size: 12px;
  text-decoration: none;
}
.loginparent{
   padding-top: 4rem;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.formrm {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.formrm input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.formrm button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #262626;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff1f1;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.formrm button:hover,.formrm button:active,.formrm button:focus {
    background-color: #000000; /* New background color on hover */
    color: #fff; /* New text color on hover */
    transition: background-color 0.3s ease, color 0.3s ease; 
}
.formrm .messagege {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.formrm .messagege a {
  color: #000000;
  text-decoration: none;
}
.formrm .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

@media (max-width : 480px){
    .formrm{
        max-width: 286px;
    }

    .formrm input .formrm button{
        font-size: 12px;
    }

    .formrm .messagege {
        font-size: 10px;
    }
}


.custom-file-input{
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin: 0;
  opacity: 0;
}

.custom-file{
  position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin-bottom: 0;
}

.avatar{
  display: inline-block;
    margin-bottom: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-right: 1rem!important;
    margin: 0 0 1rem;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
}
.rounded-circle {
    border-radius: 50% !important;
}

.custom-file-label{
  position: absolute;
top: 0;
right: 0;
left: 0;
z-index: 1;
height: calc(1.5em + 0.75rem + 2px);
padding: 0.375rem 0.75rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
border: 1px solid #ced4da;
border-radius: 0.25rem;
display: flex;
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  height: calc(1.5em + 0.75rem);
  padding: 0rem 1rem;
  line-height: 1.5;
  color: #495057;
  content: "Browse";
  background-color: #e9ecef;
  border-left: inherit;
  border-radius: 0 0.25rem 0.25rem 0;
  align-items: center;
}

.profilecont{
  display: flex;
  align-items: center;
}

