aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
certifi
charset-normalizer
click
colorama
datasets
dill
dnspython
email-validator
exceptiongroup
fastapi
filelock
frozenlist
fsspec
h11
httpcore
httptools
httpx
huggingface-hub
idna
itsda
Jinja2
joblib
loguru
MarkupSafe
mmh3
mpmath
multidict
multiprocess
networkx
nltk
numpy
orjson
packaging
Pillow
pinecone-client
pinecone-text
protobuf
pyarrow
pyarrow-hotfix
p
pydantic-core
pydantic-extra-types
pydantic-settings
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
six
sniffio
starlette
sympy
thread
tokenizers
torch
torchvision
tqdm
transformers
typing-extensions
tzdata
urllib3
uvicorn
watchfiles
websockets
xxhash
yarl
