* {
    margin: 0;
    padding: 0;
}

#parent {

    height: 50rem;
    background: linear-gradient(90deg, #9796F0 0%, #FBC7D4 100%);
    display: flex;


    .div-inner-left {
        width: 57rem;
        height: 39.625rem;
        margin-left: 5rem;
        flex-shrink: 0;
        border-radius: 0.65625rem;
        background: rgba(0, 0, 0, 0.23);
        display: flex;

        input,
        textarea {
            border: none;
        }

        .leftdetails {
            margin: 5rem;
            display: inline-block;

            .name {
                display: flex;
                padding: 1.19744rem;
                flex-direction: column;
                margin-bottom: 1rem;
                width: 12rem;
                justify-content: center;
                align-items: flex-start;
                gap: 0.59875rem;
                align-self: stretch;
                border-radius: 0.49894rem;
                border: 1.597px solid rgba(66, 80, 102, 0.40);
                background: #FFF;
                box-shadow: 0px 3.19319px 6.38638px 0px rgba(66, 80, 102, 0.10);

            }



            .phonenumber {
                display: flex;
                padding: 1.19744rem;
                width: 12rem;
                flex-direction: column;
                margin-bottom: 1rem;
                justify-content: center;
                align-items: flex-start;
                gap: 0.59875rem;
                align-self: stretch;
                border-radius: 0.49894rem;
                border: 1.597px solid rgba(66, 80, 102, 0.40);
                background: #FFF;
                box-shadow: 0px 3.19319px 6.38638px 0px rgba(66, 80, 102, 0.10);
            }

            .adhar {
                display: flex;
                padding: 1.19744rem;
                width: 12rem;
                margin-bottom: 1rem;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 0.59875rem;
                align-self: stretch;
                border-radius: 0.49894rem;
                border: 1.597px solid rgba(66, 80, 102, 0.40);
                background: #FFF;
                box-shadow: 0px 3.19319px 6.38638px 0px rgba(66, 80, 102, 0.10);
            }

            .address {
                display: flex;
                width: 12rem;
                padding: 1.19744rem;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 1rem;
                align-items: flex-start;
                gap: 0.59875rem;
                align-self: stretch;
                border-radius: 0.49894rem;
                border: 1.597px solid rgba(66, 80, 102, 0.40);
                background: #FFF;
                box-shadow: 0px 3.19319px 6.38638px 0px rgba(66, 80, 102, 0.10);
            }

            .aboutchild {
                display: flex;
                width: 12rem;
                padding: 1.19744rem;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 1rem;
                align-items: flex-start;
                gap: 0.59875rem;
                align-self: stretch;
                border-radius: 0.49894rem;
                border: 1.597px solid rgba(66, 80, 102, 0.40);
                background: #FFF;
                box-shadow: 0px 3.19319px 6.38638px 0px rgba(66, 80, 102, 0.10);
            }


        }

        .rightdi {

            .dd {
                display: flex;
                display: flex;
                width: 22rem;
                height: 21.1875rem;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0.94194rem;
                flex-shrink: 0;
                border-radius: 0.628rem;
                background: #FFF;
                box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.25);
                margin-top: 6rem;

            }

            button {
                width: 5rem;
                height: 2rem;
                margin-top: 2rem;
                border-radius: 9px;
                background-color: green;
            }

        }




    }

    .div-inner-right {
        width: 20.3125rem;
        height: 39.8125rem;
        flex-shrink: 0;
        margin-left: 3rem;
        border-radius: 0.65625rem;
        background: rgba(217, 217, 217, 0.23);
        box-shadow: 10px 10px 55px 0px rgba(0, 0, 0, 0.25);
        
        .details-card-parent{
            margin: 24px;

        }
    .details{
        display: flex;
        h4{
            margin: 23px;

        }

    }


    }

}