* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

.root {
  #main {
    background: linear-gradient(90deg, #9796f0 0%, #fbc7d4 100%);
    max-width: 100%;
    height: 71rem;
    overflow: hidden;

    .innerdiv {
      width: 82.25rem;
      height: 38.375rem;
      flex-shrink: 0;
      border-radius: 1rem;
      background: rgba(0, 0, 0, 0.11);
      box-shadow: 15px 24px 50px 0px rgba(0, 0, 0, 0.25);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      .leftinnerdiv {
        .heading {
          color: #000;
          font-family: Advent Pro;
          font-size: 2.3125rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          width: 29rem;
          margin-right: 8rem;

          span {
            color: white;
          }

          p {
            margin-top: 3rem;
          }
        }

        .innerbtn {
          margin-top: 5rem;

          button {
            border-radius: 0.375rem;
            background: #000;
            color: white;
            padding: 0.5rem;
          }

          .bt2 {
            margin-left: 2rem;
          }
        }
      }

      .rightinnerdiv {
        img {
          border-radius: 1rem;
          width: 30.125rem;
          height: 20.875rem;
          flex-shrink: 0;
          box-shadow: 40px 30px 47px 0px rgba(0, 0, 0, 0.25);
        }
      }
    }

    #card-section {
      display: flex;
      width: 73.25rem;
      margin-left: 10rem;

      .card {
        margin: auto;
        width: 16.4375rem;
        height: 23.5rem;
        flex-shrink: 0;
        border-radius: 0.625rem;
        background: #fff;
        box-shadow: 15px 20px 32px 0px rgba(0, 0, 0, 0.25);
        margin-top: 5rem;

        img {
          margin-top: 2rem;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        }

        h3 {
          margin-top: 2rem;
          color: var(--Black, #060e1a);
          text-align: center;
          font-family: Inter;
          font-size: 1.5625rem;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
        }

        p {
          width: 14rem;
          padding: 1rem;
          color: var(--Pragraph, #51565e);
          text-align: center;
          font-family: Inter;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 160%;
        }

        .icon {
          color: blue;
          margin-left: 7rem;
        }
      }
    }
  }
}


